@import 'tailwindcss';
@import 'tw-animate-css';
@source "../node_modules/@blocknote/shadcn";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: var(--font-poppins);
    --font-montserrat: var(--font-montserrat);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

body {
    font-family: var(--font-sans);
}

:root {
    --background: oklch(0.9399 0.0203 345.6985);
    --foreground: oklch(0.4712 0 0);
    --card: oklch(0.9498 0.05 86.8891);
    --card-foreground: oklch(0.4712 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.4712 0 0);
    --primary: oklch(0.6209 0.1801 348.1385);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8095 0.0694 198.1863);
    --secondary-foreground: oklch(0.3211 0 0);
    --muted: oklch(0.88 0.0504 212.0952);
    --muted-foreground: oklch(0.5795 0 0);
    --accent: oklch(0.9195 0.0801 87.667);
    --accent-foreground: oklch(0.3211 0 0);
    --destructive: oklch(0.7091 0.1697 21.9551);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.6209 0.1801 348.1385);
    --input: oklch(0.9189 0 0);
    --ring: oklch(0.7002 0.1597 350.7532);
    --chart-1: oklch(0.7002 0.1597 350.7532);
    --chart-2: oklch(0.8189 0.0799 212.0892);
    --chart-3: oklch(0.9195 0.0801 87.667);
    --chart-4: oklch(0.7998 0.111 348.1791);
    --chart-5: oklch(0.6197 0.1899 353.9091);
    --sidebar: oklch(0.914 0.0424 343.0913);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6559 0.2118 354.3084);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8228 0.1095 346.0184);
    --sidebar-accent-foreground: oklch(0.3211 0 0);
    --sidebar-border: oklch(0.9464 0.0327 307.1745);
    --sidebar-ring: oklch(0.6559 0.2118 354.3084);
    --font-sans: Poppins, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.4rem;
    --shadow-x: 3px;
    --shadow-y: 3px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-sm:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-md:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 2px 4px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-lg:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 4px 6px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-xl:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 8px 10px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.5);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2497 0.0305 234.1628);
    --foreground: oklch(0.9306 0.0197 349.0785);
    --card: oklch(0.2902 0.0299 233.5352);
    --card-foreground: oklch(0.9306 0.0197 349.0785);
    --popover: oklch(0.2902 0.0299 233.5352);
    --popover-foreground: oklch(0.9306 0.0197 349.0785);
    --primary: oklch(0.9195 0.0801 87.667);
    --primary-foreground: oklch(0.2497 0.0305 234.1628);
    --secondary: oklch(0.7794 0.0803 4.133);
    --secondary-foreground: oklch(0.2497 0.0305 234.1628);
    --muted: oklch(0.2713 0.0086 255.578);
    --muted-foreground: oklch(0.7794 0.0803 4.133);
    --accent: oklch(0.6699 0.0988 356.9762);
    --accent-foreground: oklch(0.9306 0.0197 349.0785);
    --destructive: oklch(0.6702 0.1806 350.3599);
    --destructive-foreground: oklch(0.2497 0.0305 234.1628);
    --border: oklch(0.3907 0.0399 242.2181);
    --input: oklch(0.3093 0.0305 232.0027);
    --ring: oklch(0.6998 0.0896 201.8672);
    --chart-1: oklch(0.6998 0.0896 201.8672);
    --chart-2: oklch(0.7794 0.0803 4.133);
    --chart-3: oklch(0.6699 0.0988 356.9762);
    --chart-4: oklch(0.4408 0.0702 217.0848);
    --chart-5: oklch(0.2713 0.0086 255.578);
    --sidebar: oklch(0.2303 0.027 235.9743);
    --sidebar-foreground: oklch(0.967 0.0029 264.5419);
    --sidebar-primary: oklch(0.6559 0.2118 354.3084);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8228 0.1095 346.0184);
    --sidebar-accent-foreground: oklch(0.2781 0.0296 256.848);
    --sidebar-border: oklch(0.3729 0.0306 259.7328);
    --sidebar-ring: oklch(0.6559 0.2118 354.3084);
    --font-sans: Poppins, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.4rem;
    --shadow-x: 3px;
    --shadow-y: 3px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: #324859;
    --shadow-2xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
    --shadow-xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
    --shadow-sm:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow-md:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow-lg:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow-xl:
        3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
        3px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1);
    --shadow-2xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.5);
}

.published-form-standard {
    --background: oklch(0.9551 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(0.9702 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(0.9702 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.4891 0 0);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9067 0 0);
    --secondary-foreground: oklch(0.3211 0 0);
    --muted: oklch(0.8853 0 0);
    --muted-foreground: oklch(0.5103 0 0);
    --accent: oklch(0.8078 0 0);
    --accent-foreground: oklch(0.3211 0 0);
    --destructive: oklch(0.5594 0.1900 25.8625);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8576 0 0);
    --input: oklch(0.9067 0 0);
    --ring: oklch(0.4891 0 0);
    --chart-1: oklch(0.4891 0 0);
    --chart-2: oklch(0.4863 0.0361 196.0278);
    --chart-3: oklch(0.6534 0 0);
    --chart-4: oklch(0.7316 0 0);
    --chart-5: oklch(0.8078 0 0);
    --sidebar: oklch(0.9370 0 0);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.4891 0 0);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.8078 0 0);
    --sidebar-accent-foreground: oklch(0.3211 0 0);
    --sidebar-border: oklch(0.8576 0 0);
    --sidebar-ring: oklch(0.4891 0 0);
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.15;
    --shadow-color: hsl(0 0% 20% / 0.1);
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.published-form.dark {
    --background: oklch(0.2178 0 0);
    --foreground: oklch(0.8853 0 0);
    --card: oklch(0.2435 0 0);
    --card-foreground: oklch(0.8853 0 0);
    --popover: oklch(0.2435 0 0);
    --popover-foreground: oklch(0.8853 0 0);
    --primary: oklch(0.7058 0 0);
    --primary-foreground: oklch(0.2178 0 0);
    --secondary: oklch(0.3092 0 0);
    --secondary-foreground: oklch(0.8853 0 0);
    --muted: oklch(0.2850 0 0);
    --muted-foreground: oklch(0.5999 0 0);
    --accent: oklch(0.3715 0 0);
    --accent-foreground: oklch(0.8853 0 0);
    --destructive: oklch(0.6591 0.1530 22.1703);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3290 0 0);
    --input: oklch(0.3092 0 0);
    --ring: oklch(0.7058 0 0);
    --chart-1: oklch(0.7058 0 0);
    --chart-2: oklch(0.6714 0.0339 206.3482);
    --chart-3: oklch(0.5452 0 0);
    --chart-4: oklch(0.4604 0 0);
    --chart-5: oklch(0.3715 0 0);
    --sidebar: oklch(0.2393 0 0);
    --sidebar-foreground: oklch(0.8853 0 0);
    --sidebar-primary: oklch(0.7058 0 0);
    --sidebar-primary-foreground: oklch(0.2178 0 0);
    --sidebar-accent: oklch(0.3715 0 0);
    --sidebar-accent-foreground: oklch(0.8853 0 0);
    --sidebar-border: oklch(0.3290 0 0);
    --sidebar-ring: oklch(0.7058 0 0);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.15;
    --shadow-color: hsl(0 0% 20% / 0.1);
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }

    .bn-shadcn * {
        @apply border-border outline-ring/50;
    }
}

.bn-editor {
    --bn-colors-editor-background: var(--color-card);
}